@font-face {
    font-family: "KG Summer Sunshine";
    src: url('KGSummerSunshine.ttf');
}

  .navbar-custom {
    background-color: #30D5C8;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(0, 0, 0, 0.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #535353;
}

#logo {
    font-family: "KG Summer Sunshine";
    color: black;
    padding-right: 1em;
}

#gigs {
    font-family: "KG Summer Sunshine";
    color: black;
}

iframe[src*=youtube] {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.fa {
    color: #30D5C8 !important;
}

html { scroll-behavior: smooth; }

body { margin-top:5rem; }
